HTTP_PORT=8080

DB_HOST=postgres
DB_PORT=5432
DB_USER=mini_market
DB_PASSWORD=mini_market
DB_NAME=mini_market
DB_SSLMODE=disable

REDIS_ADDRESS=redis:6379
REDIS_PASSWORD=1

CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_ORIGIN=http://localhost:5173,http://127.0.0.1:5173

JWT_SECRET=dev-jwt-secret-change-me


ACCESS_EXPIRE_MINUTES=15
REFRESH_EXPIRE_MINUTES=10080

DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123
DEFAULT_USER_USERNAME=user
DEFAULT_USER_PASSWORD=user123
DEFAULT_DEVELOPER_USERNAME=developer
DEFAULT_DEVELOPER_PASSWORD=developer123

OTEL_ENABLED=false
SENTRY_ENABLED=false
